header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $mineShaft;
  width: 100%;

  img {
    width: 9.6rem;
    height: 9.6rem;
    margin-right: 2rem;
  }

  h1 {
    cursor: pointer;
  }
}